<div class="class" id={{classId}}>

	<div class="class_header">
		<span class="class_information">
			<span class="class_title">Welcome to {{title}}</span>
			<span class="class_description">{{description}}</span>
			<span><button class="class_options">options</button></span>
		</span
	<div class="class_header">

	<div class="class_body">
	<form action='/post/{{classId}}/post' method="post" class="new_post">
		Create a post: <input type="text" name="postText"><input type="submit" value = "Post"> <!-- <input type="submit" value="Attach"> -->
	</form>
	
	<div id="posts-table">
		{{#each post}}
		<!-- helper to only display if removed is false, and checks the number of flags-->
		<!-- register a helper function to evaluate the number of flags and change removed? -->
		
		<div class="post" id={{postId}}>
		
			<div class="post_header">
				<span class="upvotes"> <button class="upvote post" type="submit"></button> {{numUpvotes}} </span>
				<span class="post_author">{{author}}</span>
				<!--relevantTime: displays timeCreated if not edited, and "edited" + timeEdited if edited --> 
				<span class="post_time">{{relevantTime}}</span>
			</div>
		
			<div class="post_body">
				<p>{{text}}</p>
				<!-- icon to represent resource? -->
				<p> Attached resource: {{resource}} </p>
			</div>
		
			<div class="post_footer">
				{{#each comment}}
					<!-- render the comment handlebar template -->
					{{> render_comment this}}
				{{/each}}
				<!-- add a text input for adding a comment, action tag -->
				<form action='/comment/{{postId}}/comment' method='post' id="new_comment">
					Reply to this thread: <input type="text" name='commentText'><input type="submit" value = "Post">
				</form>
			</div>
		</div>

		{{/each}}
	</div>
	<div class="class_body">


</div>