<!-- Lead author: Ming -->
<div class="class" id={{classId}}>

	<div class="class_header">
		<span class="class_information">
			<span class="class_title"><h2>Welcome to {{title}}</h2></span>
<!-- 			<span class="class_description">{{description}}</span> -->
		</span>
	</div>

	<div class="class_body">
		<div id='new-post'>
			<form action='/post/{{classId}}/post' method="post" enctype="multipart/form-data">
				<textarea type="text" name="postText" class='post-box'></textarea><br>

				<span id="file-load"><input type='file' name='resource'></span>
				<span id="submit-post"><input type="submit" id="post-button" value="Post"></span>
			</form>
		</div>
	
	<div id="posts-table">
		{{#each post}}
		<div class="post" id={{_id}}>
			<div class="post_header">
				<span class="upvotes"> <button class="upv" type="submit"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button> <span class="upvoteCount">{{upvoteCount}}</span></span>
				<span class="post_author">{{author.name}}</span>
				<span class="post_time">{{timeCreated}}</span>
				<span class="delete_btn delete_post"> <input type="submit" value="Delete"> </span>
			</div>
		
			<div class="post_body">
				<p>{{text}}</p>
				{{#if resourceUrl}}
				<a href={{resourceUrl}}>Attached Resource</a>
				{{/if}}
			</div>
		
			<div class="post_footer">
				{{#each comments}}
					<!-- render the comment handlebar template -->
					<div class="comment" id={{_id}}>
						<div class="comment_header">
							<span class="upvotes"> <button class="upv" type="submit"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button> <span class="upvoteCount">{{upvoteCount}}</span></span>
							<span class="comment_author">{{author.name}}</span>
							<span class="comment_time">{{timeCreated}}</span>
							<span class="delete_btn delete_comment"> <input type="submit" value="Delete"> </span>
						</div>

						<div class="comment_body">
							<p>{{text}}</p>
						</div>
					</div>
					
				{{/each}}
				<!-- add a text input for adding a comment, action tag -->
				<form action='/comment/{{_id}}/comment' method='post'>
					<input type="text" name='commentText' class="comment-box"><input type="submit" value = "Comment">
				</form>
			</div>
		</div>

		{{/each}}
	</div>
	<div class="class_body">


</div>