<div class="comment" id={{commentId}}>
<!--relevantTime: displays timeCreated if not edited, and "edited" + timeEdited if edited --> 
	<div class="comment_header">
		<span class="upvotes"> <button type="submit" class="upvote comment"></button> {{numUpvotes}}</span>
		<span class="comment_author">{{author}}</span>
		<span class="comment_time">{{relevantTime}}</span>
	</div>

	<div class="comment_body">
		<p>{{text}}</p>
	</div>
</div>
