<!-- helper to only display if removed is false, and checks the number of flags-->
<!-- register a helper function to evaluate the number of flags and change removed? -->

<div class="post">

	<div class="post_header">
		<span class="upvotes"> <button type="submit"></button> {{numUpvotes}} </span>
		<span class="post_author">{{author}}</span>
		<!--relevantTime: displays timeCreated if not edited, and "edited" + timeEdited if edited --> 
		<span class="post_time">{{relevantTime}}</span>
	</div>

	<div class="post_body">
		<p>{{text}}</p>
		<!-- icon to represent resource? -->
		<p> Attached resource: {{resource}} </p>
	</div>

	<div class="post_footer">
		{{#each comment}}
			<!-- render the comment handlebar template -->
			{{> render_comment this}}
		{{/each}}
		<!-- add a text input for adding a comment, action tag -->
		<form id="new_comment">
			Reply to this thread: <input type="text"><input type="submit" value = "Post">
		</form>
	</div>
</div>
