<div class = "user_page" id={{_id}}>
	<h1>{{username}}</div>
	<p> Email: {{email}} </p>
	<p> Classes: </p>
	<ul>
	{{#each class}}
	<li>{{this}}<button type="submit">x</button></li>
	{{/each}}
	</ul>
	<form action="group/class/"" method="post">
		<input type="text" name="className"><input type="submit" value="Add class">
	</form>
	<form action='group/add/{{_id}}' method="post">
		<input type="submit" value="join class">
	</form>
</div>