<!-- Lead author: Ming -->
<div class = "user_page" id={{_id}}>
	<h1>{{username}}</div>
	<p> Email: {{email}} </p>
	<p> Classes: </p>
	<ul>
	{{#each class}}
	<li>{{class.name}}<input type='button' class='remove' data-post-id={{_id}} data-author={{author._id}} value='Delete'></li>
	{{/each}}
	</ul>
	<form action="group/class" method="post">
		<input type="text" name="className"><input type="submit" value="Add class">
	</form>
	<form action='group/user/add' method="post">
		<input type="text" name="className"><input type="submit" value="join class">
	</form>
</div>