<!-- Lead author: Ming -->
<div class = "user_page" id={{_id}}>
	<h1>Welcome, {{username}}</h1>
	<p> Email: {{email}} </p>
	<p> Classes: </p>
	<ul>
	<!--
		{{#each userclass}}
			<li>
				<form action='group/{{this}}' method='get'>{{this}}<input type="submit" value="Go to class page"></form>
				<input type="submit" data_taken='{{classes._id}}' value="Add to Taken Class"> 
			</li>
		{{/each}}
	-->
		{{#each classes}}
			<li>
				<form action='group/{{this.name}}' method='get'>{{this.name}}<input type="submit" value="Go to class page"></form>
				<input type="submit" id='takenClass'+ {{this._id}} data-taken='{{this._id}}' value="Add to Taken Class"> 
				<!-- <input type="submit" id='archivedClass'+ {{this._id}} data-archived='{{this.name}}' value="Go To Archived Class Page"> -->
				<form action='group/archives/{{this.name}}' method='get'><input type="submit" value="Go to archived class page"></form>
			</li>
		{{/each}}
		
			
	
	</ul>

	<input id="search-input" type="text" placeholder="Search for classes">
	<ul id="results-list"></ul>

	<ul>
		{{#each allclass}}
			<li> 
				<form action='group/user/add' method='post'><input type='text' name='className' value = '{{this}}' readonly><input type='submit' value='Join class'></form>
			</li>
		{{/each}}
	</ul>

	<form action="group/class" method="post">
		<input type="text" name="className"><input type="submit" value="Create class">
	</form>
</div>