<!-- Lead author: Ming -->
<div class = "user_page" id={{_id}}>
	<h1>{{username}}</h1>
	<p> Email: {{email}} </p>
	<p> Classes: </p>
	<ul>
		{{#each userclass}}
			<li>
				<form action='group/{{this}}' method='get'>{{this}}<input type="submit" value="Go to class page"></form>
			</li>
		{{/each}}
	</ul>

	<input id="search-input" type="text" placeholder="Search for classes">
	<ul id="results-list"></ul>

	<ul>
		{{#each allclass}}
			<li> 
				<form action='group/user/add' method='post'><input type='text' name='className' value = '{{this}}' readonly><input type='submit' value='Join class'></form>
			</li>
		{{/each}}
	</ul>

	<form action="group/class" method="post">
		<input type="text" name="className"><input type="submit" value="Create class">
	</form>
</div>