<!-- Lead author: Joanna -->
<!DOCTYPE html>
<html>
	<head>
		<title>cloop</title>
		<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="/javascript/index.js"></script>
		<script type="text/javascript" src="/javascript/user_page.js"></script>
		<script type="text/javascript" src="/javascript/class_page.js"></script>
	    <!-- Handlebars Runtime -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>    
	</head>


	<body>	
		<div class="container">
			<div class="header_clearfix">
				<nav>
					<ul class="nav nav-pills pull-right">
						{{#if user}}		
							<li role="presentation"><a href="/group">User Page</a></li>				
							<li role="presentation"><a href="/users/logout">Logout</a></li>					
						{{else}}
							<li role="presentation"><a href="/users/login">Login</a></li>
							<li role="presentation"><a href="/users/register">Register</a></li>
						{{/if}}
					</ul>	
				</nav>
				{{#if user}}
					<h3 class="title"><a href="/group">cloop</a></h3>
				{{else}}
					<h3 class="title">cloop</h3>
				{{/if}}
				
				<!-- <h3 class="text-muted">Cloop</h3>	 -->
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					{{#if success_msg}}
						<div class="alert alert-success">{{success_msg}}</div>
					{{/if}}
					
					{{#if error_msg}}
						<div class="alert alert-danger">{{error_msg}}</div>
					{{/if}}
					
					{{#if error}}
						<div class="alert alert-danger">{{error}}</div>
					{{/if}}											
          			{{{body}}}
				</div>
			</div>
		</div>

	</body>
</html>	