<!-- Lead author: Ming -->
<div class="class" id={{classId}}>

	<div class="class_header">
		<span class="class_information">
			<span class="class_title"><h2>Welcome to {{title}}</h2></span>
<!-- 			<span class="class_description">{{description}}</span> -->
		<span class="class_students"><b>Students Enrolled</b>: {{studentListing}}</span>
		</span>
	</div>
	<br>

	<div class="class_body">
		<div id='new-post'>
			<form action='/post/{{classId}}/post' method="post" enctype="multipart/form-data">
				<textarea type="text" name="postText" class='post-box'></textarea><br>

				<span id="file-load">Upload a resource:<input type='file' name='resource'></span>
				<span id="submit-post"><input type="submit" id="post-button" value="Post"></span>
			</form>
		</div>
	
	<div id="posts-table">
		{{#each post}}
		{{#ifLessThan flagCount 10}}
		<div class="post" id={{_id}}>
			<div class="post_header">
				<span class="upvotes">	
					{{#ifIncludedIn ../userId upvoteUsers}}
					<button class="upv" type="submit" style="background-color: #BDF5BD;"><i class="fa fa-thumbs-up" aria-hidden="true" style="color: green;"></i></button>
					{{else}}
					<button class="upv" type="submit"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
					{{/ifIncludedIn}}

					<span class="upvoteCount">{{upvoteCount}}</span>
				</span>
				<span class="flags">
					{{#ifIncludedIn ../userId flagUsers}}
					<button class="flg" type="submit" style="background-color: #F5BDBD;"><i class="fa fa-flag" aria-hidden="true" style="color: darkred;"></i></button>
					{{else}}
					<button class="flg" type="submit"><i class="fa fa-flag" aria-hidden="true"></i></button>
					{{/ifIncludedIn}}
				</span>
				<span class="post_author"><b>{{author.name}}</b></span>
				<span class="post_time">{{timeCreated}}</span>
				{{#ifEquals ../userId author._id}}
				<span class="delete_btn delete_post"> 
					<button class="sideBtn delBtn" type="submit"><i class="fa fa-times" style="color: #e6e6e6" aria-hidden="true"></i></button>
				</span>
				<button class="sideBtn editBtn" type="submit"><i class="fa fa-pencil" style="color: #e6e6e6" aria-hidden="true"></i></button>
				{{/ifEquals}}
			</div>
		
			<div class="post_body">
				<div> <p class="text-body">{{text}}</p> </div>
				{{#if resourceUrl}}

				<div class='resource_container'>

					<div>The author of this post has included the following pdf attachment:</div>

					<a href={{resourceUrl}}>Resource Link</a>

					<div class="resource_button">Show Preview</div>

					<div class="resource_object">
						<object data={{resourceUrl}} type="application/pdf" width="100%" height="800px">
							<iframe src={{resourceUrl}} width="100%" height="100%" style="border: none;">
								This browser does not support PDFs. Please use the link above instead.
							</iframe>
						</object>
					</div>

				</div>

				{{/if}}
			</div>
		
			<div class="post_footer">
				{{#each comments}}
				{{#ifLessThan flagCount 10}}
					<!-- render the comment handlebar template -->
					<div class="comment" id={{_id}}>
						<div class="comment_header">
							<span class="upvotes"> 
								{{#ifIncludedIn ../../userId upvoteUsers}}
								<button class="upv" type="submit" style="background-color: #BDF5BD;"><i class="fa fa-thumbs-up" aria-hidden="true" style="color: green;"></i></button>
								{{else}}
								<button class="upv" type="submit"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
								{{/ifIncludedIn}}
								<span class="upvoteCount">{{upvoteCount}}</span>
							</span>
							<span class="flags"> 
								{{#ifIncludedIn ../../userId flagUsers}}
								<button class="flg" type="submit" style="background-color: #F5BDBD;"><i class="fa fa-flag" aria-hidden="true" style="color: darkred;"></i></button>
								{{else}}
								<button class="flg" type="submit"><i class="fa fa-flag" aria-hidden="true"></i></button>
								{{/ifIncludedIn}}
							</span>
							<span class="comment_author"><b>{{author.name}}</b></span>
							<span class="comment_time">{{timeCreated}}</span>
							{{#ifEquals ../../userId author._id operator="equals"}}
							<span class="delete_btn delete_comment"> 
								<button class="sideBtn delBtn" type="submit"><i class="fa fa-times" style="color: #e6e6e6" aria-hidden="true"></i></button>
							</span>
							<button class="sideBtn editBtn" type="submit"><i class="fa fa-pencil" style="color: #e6e6e6" aria-hidden="true"></i></button>
							{{/ifEquals}}
						</div>

						<div class="comment_body">
							<p class="text-body">{{text}}</p>
						</div>
					</div>
				{{/ifLessThan}}
				{{/each}}
				<!-- add a text input for adding a comment, action tag -->
				<form action='/comment/{{_id}}/comment' method='post'>
					<input type="text" name='commentText' class="comment-box"><input type="submit" value = "Comment">
				</form>
			</div>
		</div>
		{{/ifLessThan}}
		{{/each}}
	</div>
	<div class="class_body">
</div>

<!-- "EDIT" MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-header">
			<button type="button" class="delBtn sideBtn" data-dismiss="modal">
				<i class="fa fa-times" style="color: #e6e6e6" aria-hidden="true"></i>
				<span class="sr-only">Close</span>
			</button>
			<h3 class="modal-title" id="editModalLabel"></h3>
		</div>

		<div class="modal-body">
			<form id="editText" method="post">
				<input id="contentInput" type="text" name="content" required autofocus>
				<input type="submit" class="btn btn-primary" value="Save" method="post">
			</form>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>
<!-- -->