<h2 class="page-header">Cloop</h2>
<div class = "user_page" id={{_id}}>
	<div class="form-group">
		<div id=login data-userid={{user.id}}></div>
		<div id=loginuser data-user={{user}}></div> 
		<label>Welcome, {{user.name}}!</label>
	</div>
	
	<ul>
	{{#each class}}
	<li>{{this}}<button type="submit">x</button></li>
	{{/each}}
	</ul>
	<form action="group/class/"" method="post">
		<input type="text" name="className"><input type="submit" value="Add class">
	</form>
	<form action='group/add/{{_id}}' method="post">
		<input type="submit" value="join class">
	</form>
</div>


<form method="post" action="/group" id=classform data-preaction='getall'>
	<div class="form-group">	
		<label>Search classes by class name:</label>
		<input type="text" id="searchclass" class="form-control" placeholder="Enter a class..." name="searchname" value="">
		<br>
		<input type="button" id="search" value="Search">
		<input type="button" id="getall" value="Get All">		
	</div>
	<div class="form-group">
		<label>Post something here:</label>
	    <textarea id="newpost" class="form-control"  name="content" placeholder="Say something..." value=""> </textarea>
	  	<br>
	  	<input type="button" id="post" value="Post">
	</div>
	<div class="form-group">
		<label>Class Page:</label>
		<div id="pageContainer">
    		<div id='postList'></div>	   
			<br>
	    </div>
        <table id="postTable" class="table table-striped">
 	     <tr>
            <td><b></b></td>
            <td><b></b></td>
            <td><b></b></td>
          </tr>
        </table>
	</div>
</form>